.product {
	&__nav {
		display: flex;
		column-gap: 10px;
	}
	&__card {
		position: relative;
		background: white;
		width: 100%;
		border-radius: 5px;
	}
	&__card-info {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__card-options {
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		row-gap: 10px;
	}
	&__card-info-wrapper {
		height: 430px;
		display: flex;
		flex-direction: column;
	}
	&__card-close {
		min-width: 30px;
		min-height: 30px;
		align-self: flex-end;
		cursor: pointer;
	}
	&__card-header {
		display: flex;
		margin-bottom: 20px;
		height: 50px;
	}
	&__card-stickers {
		display: flex;
		-moz-column-gap: 5px;
		column-gap: 5px;
	}
	&__stickers {
		display: flex;
		margin-bottom: 12.5px;
		justify-content: space-between;
	}
	&__top-stickers {
		top: 3%;
		right: 0;
		position: absolute;
		display: flex;
		column-gap: 5px;
	}
	&__top-stickers &__card-material {
		position: static;
	}
	&__card-sticker {
		background: #ff3d00;
		border-radius: 5px;
		font-size: 14px;
		line-height: 14px;
		padding: 0 10px;
		display: flex;
		align-items: center;
		color: white;
	}
	&__card-material {
		position: absolute;
		right: 0;
		background: #ff3d0080;
		color: white;
		border-radius: 5px;
		font-size: 14px;
		line-height: 30px;
		font-weight: 400;
		padding: 0 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 3%;
	}
	&__next-variant,
	&__prev-variant {
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&__next-variant-icon,
	&__prev-variant-icon {
		max-width: 30px;
		height: auto;
		width: 100%;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	&__prev-variant-icon {
		transform: scale(-1, 1);
	}
	&__next-variant:hover &__next-variant-info {
		visibility: visible;
		opacity: 1;
		transition: 0.3s;
	}
	&__prev-variant:hover &__prev-variant-info {
		visibility: visible;
		opacity: 1;
		transition: 0.3s;
	}

	&__next-variant-info,
	&__prev-variant-info {
		position: absolute;
		display: flex;
		width: 285px;
		right: 10%;
		bottom: 120%;
		color: white;
		background: rgba(255, 61, 0, 0.7);
		border-radius: 5px;
		justify-content: space-between;
		padding-top: 15px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 15px;
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}
	&__next-variant-info-icon,
	&__prev-variant-info-icon {
		margin-top: 10px;
		max-width: 20px;
		width: 100%;
		height: 20px;
	}
	&__next-variant-info-texts,
	&__prev-variant-info-texts {
		max-width: 230px;
		width: 100%;
		display: flex;
		flex-direction: column;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
	}
	&__next-variant-info-text,
	&__prev-variant-info-text {
		font-size: 16px;
		line-height: 110%;
	}
	&__next-variant-info-text:nth-child(1),
	&__prev-variant-info-text:nth-child(1) {
		height: 40px;
	}
	&__next-variant-info-text:nth-child(2),
	&__prev-variant-info-text:nth-child(2) {
		font-size: 12px;
		line-height: 13.2px;
	}
	&__card-variants {
		display: flex;
		width: 100%;
		-moz-column-gap: 10px;
		column-gap: 10px;
	}

	&__card-variant {
		max-width: 150px;
		width: 100%;
		height: 50px;
		opacity: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 8px;
		transition: 0.3s;
	}
	&__card-variant.active {
		transition: 0.3s;
		opacity: 1;
	}
	&__card-variant-value {
		color: rgba(255, 255, 255, 1);
		font-size: 16px;
		line-height: 110%;
	}
	&__card-variant-name {
		font-size: 14px;
		line-height: normal;
		color: rgba(255, 255, 255, 1);
		opacity: 50%;
	}
	&__card-img-wrapper {
		background: rgba(240, 240, 240, 1);
		max-width: 470px;
		height: 470px;
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		border-radius: 5px;
		position: relative;
	}
	&__card-img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
	&__card-wrapper {
		display: flex;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
	&__card-info-texts {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-bottom: 10px;
	}
	&__card-title {
		color: rgba(144, 144, 144, 1);
		font-size: 14px;
		line-height: 15.4px;
		margin-bottom: 5px;
	}
	&__name {
		font-size: 18px;
		line-height: 110%;
		color: rgba(16, 16, 16, 1);
		font-weight: 400;
		max-width: 650px;
		width: 100%;
		text-wrap: pretty;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__description {
		font-size: 16px;
		line-height: 110%;
		color: #505050;
		font-weight: 400;
		min-height: 45px;
		max-height: 75px;
	}
	&__description.mobile {
		display: none;
	}
	&__options {
		display: flex;
		-moz-column-gap: 5px;
		column-gap: 5px;
	}
	&__options:nth-last-child(1) {
		margin-bottom: 0;
	}
	&__option {
		border-radius: 5px;
		display: flex;
		font-size: 14px;
		line-height: 17px;
		align-items: center;
		justify-content: center;
		max-width: 130px;
		height: 48px;
		background: rgba(245, 245, 245, 1);
	}
	&__option:nth-child(1) {
		color: rgba(144, 144, 144, 1);
		max-width: 45px;
		width: 100%;
	}
	&__option:nth-child(2) {
		max-width: 60px;
		width: 100%;
	}
	&__option:nth-child(3) {
		max-width: 60px;
		width: 100%;
		background: rgba(255, 236, 229, 1);
	}
	&__option:nth-child(4) {
		max-width: 60px;
		width: 100%;
	}
	&__option:nth-child(5) {
		max-width: 80px;
		width: 100%;
	}
	&__option:nth-child(6) {
		max-width: 130px;
		width: 100%;
	}
	&__option:nth-child(7) {
		max-width: 130px;
		width: 100%;
		text-wrap: nowrap;
	}

	&__options:nth-child(2n - 3) &__option:nth-child(1) {
		background: rgba(245, 245, 245, 0.5);
	}
	&__options:nth-child(2n - 3) &__option:nth-child(2) {
		background: rgba(245, 245, 245, 0.5);
	}
	&__options:nth-child(2n - 3) &__option:nth-child(3) {
		background: rgba(255, 236, 229, 0.5);
	}
	&__options:nth-child(2n - 3) &__option:nth-child(4) {
		background: rgba(245, 245, 245, 0.5);
	}
	&__options:nth-child(2n - 3) &__option:nth-child(5) {
		background: rgba(245, 245, 245, 0.5);
	}
	&__options:nth-child(2n - 3) &__option:nth-child(6) {
		background: rgba(245, 245, 245, 0.5);
	}
	&__options:nth-child(2n - 3) &__option:nth-child(7) {
		background: rgba(245, 245, 245, 0.5);
	}
	&__add {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 50px;
		width: 100%;
		background: rgba(255, 61, 0, 1);
		border-radius: 5px;
		cursor: pointer;
	}
	&__add-icon {
		max-width: 15px;
		width: 100%;
		max-height: 20px;
		height: 100%;
	}
	&__disclaimer {
		display: flex;
		align-items: flex-end;
		font-size: 14px;
		line-height: normal;
		height: 20px;
		color: rgba(144, 144, 144, 1);
	}
	&__sticker {
		width: 100%;
		background: rgba(255, 61, 0, 1);
		font-size: 14px;
		line-height: normal;
		color: rgba(255, 255, 255, 1);
		font-weight: 400;
		line-height: 30px;
		max-width: fit-content;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 5px;
		display: flex;
		align-items: center;
	}
	&__img-sticker {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 0 10px;
		background: rgba(16, 16, 16, 0.25);
		font-size: 14px;
		line-height: 30px;
		color: rgba(255, 255, 255, 1);
		border-radius: 5px;
		-webkit-backdrop-filter: blur(7px);
		backdrop-filter: blur(7px);
	}
	&__img-stickers {
		display: none;
		position: absolute;
		bottom: 2%;
		z-index: 5;
	}
	&__card-button {
		display: none;
	}
	&__slider-prev,
	&__slider-next {
		position: absolute;
		top: 30%;
		z-index: 5;
		width: 50px;
		height: 50px;
		cursor: pointer;
	}
	&__slider-prev {
		left: 2%;
		transform: scale(-1, 1);
	}
	&__slider-next {
		right: 2%;
	}

	@media screen and (max-width: 1200px) {
		&__card {
			max-width: 780px;
			display: flex;
			flex-direction: column;
		}
		&__wrapper {
			max-width: 780px;
		}
		&__card-wrapper {
			height: 100%;
		}

		&__add {
			max-width: 140px;
		}
		&__card-img-wrapper {
			display: none;
		}
	}

	@media screen and (max-width: 820px) {
		&__slider-prev,
		&__slider-next {
			display: none;
		}
		&__top-stickers {
			display: none;
		}
		&__card-img-wrapper {
			display: flex;
		}

		&__card-material {
			display: none;
		}
		&__img-stickers-items &__card-material {
			position: static;
			width: 95px;
			display: flex;
			background: #ff3d0080;
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
		}

		&__description.mobile {
			display: block;
			font-size: 14px;
			min-height: 90px;
			max-height: 90px;
			display: -webkit-box;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 15px;
			color: #909090;
		}
		&__wrapper {
			max-width: 350px;
			justify-content: normal;
		}
		&__card {
			max-width: 350px;
			padding: 15px;
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
		}
		&__description {
			display: none;
		}
		&__next-variant,
		&__prev-variant {
			display: none;
		}
		&__card-img-wrapper {
			max-width: 320px;
			height: 320px;
		}
		&__card-wrapper {
			flex-direction: column;
			row-gap: 15px;
		}
		&__card-options {
			display: none;
		}
		&__card-variant-value {
			font-size: 14px;
			line-height: normal;
		}
		&__card-variant-name {
			font-size: 12px;
			line-height: normal;
			text-wrap: nowrap;
		}
		&__card-title {
			display: none;
		}
		&__img-stickers {
			left: 10px;
			display: flex;
			row-gap: 5px;
			flex-direction: column;
			bottom: 10px;
		}
		&__img-stickers-items {
			display: flex;
			row-gap: 5px;
			flex-direction: column;
		}
		&__img-stickers &__card-sticker {
			display: flex;
		}
		&__card-info-texts {
			row-gap: 5px;
			margin-bottom: 0;
		}
		&__disclaimer {
			display: none;
		}
		&__card-info {
			display: flex;
			flex-direction: column;
		}
		&__card-info-description:nth-child(2) &__name {
			font-size: 14px;
			line-height: 15.4px;
			color: rgba(144, 144, 144, 1);
			font-weight: 400;
		}
		&__card-info-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
		&__card-button {
			background: rgba(255, 61, 0, 1) !important;
			font-size: 16px;
			line-height: normal;
			display: flex !important;
			justify-content: center !important;
			color: white !important;
			padding: 21px !important;
			max-width: 100%;
		}
		&__card-variant {
			padding-top: 0;
			max-width: 100px;
			padding-top: 10px;
			row-gap: 0px;
		}
		&__sticker {
			display: none;
		}
		&__card-stickers {
			display: none;
		}
		&__card-sticker {
			background: #ff3d0080;
			-webkit-backdrop-filter: blur(10px);
			backdrop-filter: blur(10px);
			display: none;
			line-height: 30px;
		}
	}
}
