.contacts {
	&__title {
		font-size: 24px;
		line-height: 26.4px;
		font-weight: 400;
		margin-bottom: 20px;
	}
	&__wrapper {
		background: white;
		padding: 20px;
		border-radius: 5px;
		width: 100%;
	}
	&__info-items {
		display: flex;
		-moz-column-gap: 20px;
		column-gap: 20px;
	}
	&__info-cards {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		max-width: 320px;
		width: 100%;
	}
	&__info-card {
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		padding: 10px;
		background: rgba(245, 245, 245, 1);
	}
	&__info-card:nth-child(2) {
		row-gap: 10px;
	}
	&__info-text {
		font-size: 16px;
		line-height: 17.6px;
		color: rgba(16, 16, 16, 1);
	}
	&__info-legals {
		display: flex;
		justify-content: space-between;
	}
	&__info-address {
		color: rgba(144, 144, 144, 1);
		font-size: 16px;
		line-height: 17.6px;
	}
	&__info-legal-name {
		text-align: end;
		color: rgba(144, 144, 144, 1);
	}
	&__map {
		width: 800px;
		height: 470px;
		border-radius: 5px;
		overflow: hidden;
	}
	@media screen and (max-width: 820px) {
		&__title {
			font-size: 18px;
			height: 30px;
			margin-bottom: 15px;
		}
		&__wrapper {
			padding: 15px;
		}
		iframe {
			display: none !important;
		}
		&__info-items {
			flex-direction: column;
		}
		&__info-cards {
			max-width: 100%;
		}
		&__map {
			display: none;
		}
	}
}
