.political {
	padding: 20px;
	background: #fff;
	border-radius: 6px;
	margin-top: 20px;
	margin-bottom: 40px;

	&__title {
		font-size: 24px;
		display: flex;
		align-items: center;
		font-weight: 400;
		height: 50px;
		margin-bottom: 20px;
	}
	&__text,
	&__text-wrapper {
		font-size: 16px;
		font-weight: 400;
		color: #101010;
		line-height: 17.6px;
	}
	&__text-wrapper {
		height: 100%;
	}

	&__text span {
		color: #ff3d00;
	}

	@media screen and (max-width: 820px) {
		transform: translateX(0);
		padding-left: 0;
		padding-right: 0;
		.popup__wrapper {
			max-width: 350px;
		}
		&__title {
			font-size: 16px;
			height: 30px;
			margin-bottom: 15px;
		}
		&__wrapper {
			max-width: 350px;
			padding: 15px;
		}
		&__text-wrapper {
			font-size: 8px;
			line-height: normal;
		}
		&__text {
			font-size: 8px;
			line-height: 8.8px;
		}
	}
}

.political.transparent {
	background: transparent;
}
