body {
	font-family: var(--font-main), sans-serif;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	width: 100%;

	@media screen and (max-width: 820px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 350px;
	}
}

a {
	text-decoration: none;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
#root {
	width: 100vw;
	display: flex;
	flex-direction: column;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	scroll-behavior: smooth;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
	background: rgba(240, 240, 240, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: rgba(16, 16, 16, 1);
	overflow-x: hidden;
}

.swiper-pagination-bullet {
	background: #ffffff80 !important;
	opacity: 1 !important;
	margin: 0 !important;
	margin-right: 5px !important;
}
.swiper-pagination-bullet-active {
	background: #ffffff !important;
	margin: 0 !important;
	margin-right: 5px !important;
}

html.lenis-stopped body.scroll.disabled {
	padding-right: 17px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
button {
	border-radius: 5px;
	cursor: pointer;
	border: none;
	background: rgba(255, 61, 0, 1);
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a className get default styles */
a:not([className]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

input {
	border: none;
	outline: none;
	border-radius: 5px;
	width: 100%;
	background: rgba(240, 240, 240, 1);
	color: rgba(16, 16, 16, 1);
	font-weight: 400;
	font-size: 18px;
	line-height: normal;
	padding: 15px;
	position: relative;
	height: 54px;
	border: 1px solid transparent;
	border-color: transparent;
	transition:
		border-color 0.3s,
		box-shadow 0.3s;
	&::-webkit-input-placeholder {
		color: black;
	}
	&::-moz-placeholder {
		color: black;
	}
	&:-ms-input-placeholder {
		color: black;
	}
	&::-ms-input-placeholder {
		color: black;
	}
	&::placeholder {
		color: black;
	}
}
input:focus {
	border-color: none;
}
.placeholder {
	position: absolute;
	left: 40px;
	top: 43%;
	color: #999;
	transition: 0.2s;
	font-size: 18px;
	line-height: normal;
	pointer-events: none;
}
@media screen and (max-width: 576px) {
	.placeholder {
		top: 44%;
	}
}

input.invalid {
	border-color: red;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}
a {
	text-decoration: none;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

html {
	scroll-behavior: smooth;
}
