.overlay {
	position: fixed;
	inset: 0;
	height: 100dvh;
	background: rgba(0, 0, 0, 0.8);
	z-index: 100;
}

.content {
	position: fixed;
	left: 50%;
	top: 52%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 101;
	max-width: 1148px;
	width: 100%;
	display: grid;
	background-color: #fff;
	border-radius: 6px;
	padding: 20px;
}

.close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -30px;
	right: 0px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	font-weight: bold;
	transition: color 0.3s ease;
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.5);
}

.close__icon {
	color: #000;
}

.trigger {
	background-color: transparent;
	color: currentColor;
	text-align: start;
	padding: 0px;
}
